// import partials
@import 'partials/imports';
// Define variables
$primary_color:#90a4ae;
$btn_color:#fe763a;
$secondary_color:#fe763a;
$btn_hover:#fe763a;
$font-family: "Maison Neue",
sans-serif;
// media query variable
$xs: "(max-width:480px)";
$mid: "(max-width:600px)";
$sm: "(max-width:767px)";
$md: "(max-width:1024px)";
$ipad: "(max-width:992px)";
$lg: "(max-width: 1200px)";
$minxlg: "(min-width: 1800px)";
$minlg: "(min-width: 1600px)";
$minmd1: "(min-width: 1400px)";
$minmd2: "(min-width: 1200px)";
// Reset css
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

a {
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// body
body {
    background: #f3f5f7;
    margin: 0;
    padding: 0;
    font-family: $font-family;
    // Sprite icons
    .sprite {
        background: url('../../images/sprite.png') no-repeat top left;
        width: 12px;
        height: 22px;
        display: inline-block;
        &.search {
            background-position: 0 0;
            width: 18px;
            height: 19px;
        }
        &.color-down-arrow {
            background-position: -28px 0;
            height: 10px;
        }
        &.plus {
            background-position: -50px 0;
            height: 12px;
        }
        &.settings {
            background-position: -72px 0;
            width: 16px;
            height: 16px;
        }
        &.right {
            background-position: -98px 0;
            width: 15px;
            height: 13px;
        }
        &.down-arrow {
            background-position: -123px 0;
            width: 16px;
            height: 11px;
        }
        &.messages {
            background-position: -149px 0;
            width: 26px;
        }
        &.tennants {
            background-position: -185px 0;
            width: 26px;
            height: 25px;
        }
        &.applicants {
            background-position: -221px 0;
            width: 23px;
            height: 24px;
        }
        &.properties {
            background-position: -254px 0;
            width: 25px;
        }
    }
    // Sidebar style
    .sidebar_wrapper {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 9;
        background-color: #fff;
        width: 220px;
        box-shadow: 0 0 35px 1px rgba(38, 48, 56, .07);
        -moz-transition: all .25s ease;
        -o-transition: all .25s ease;
        -webkit-transition: all .25s ease;
        transition: all .25s ease;
        overflow-y: auto;
        @media only screen and #{$md} {
            width: 62px;
        }
        @media only screen and #{$xs} {
            width: 45px;
        }
        .sidebar_container {
            padding: 30px;
            @media only screen and #{$md} {
                padding: 20px;
            }
            @media only screen and #{$xs} {
                padding: 20px 0 0 10px;
            }
            .sidebar_profile_wrapper {
                margin: 0 auto;
                text-align: center;
                .logo {
                    margin-bottom: 32px;
                    @media only screen and #{$md} {
                        margin-bottom: 20px;
                        img {
                            width: 40px;
                            margin-left: -8px;
                        }
                    }
                }
                .user_profile {
                    @media only screen and #{$md} {
                        display: none;
                    }
                    .avatar {
                        position: relative;
                        display: inline-block;
                        margin-bottom: 20px;
                        img {
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                        }
                        .profile_settings {
                            width: 30px;
                            height: 30px;
                            background: #fff;
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            border-radius: 50%;
                            -webkit-box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.14);
                            -moz-box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.14);
                            box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.14);
                            cursor: pointer;
                            i {
                                &.settings_wrap {
                                    display: block;
                                    text-align: center;
                                    margin: 0 auto;
                                    position: relative;
                                    top: 7px;
                                }
                            }
                        }
                    }
                    h3 {
                        &.author_name {
                            font-family: $font-family;
                            color: $primary_color;
                            text-transform: uppercase;
                            font-size: 13px;
                            line-height: 18px;
                            font-weight: 700;
                        }
                    }
                }
            }
            // Sidebar Navbar
            .sidebar_navbar_wrapper {
                display: block;
                margin-top: 45px;
                ul {
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    li {
                        position: relative;
                        display: inline-block;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        a {
                            font-family: $font-family;
                            text-transform: uppercase;
                            font-size: 12px;
                            line-height: 14px;
                            font-weight: 700;
                            opacity: .8;
                            color: $primary_color;
                            text-decoration: none;
                            display: block;
                            padding: 23px 0;
                            i {
                                display: inline-block;
                                float: left;
                                margin-right: 12px;
                                position: relative;
                                top: -6px;
                                @media only screen and #{$md} {
                                    float: none;
                                    top: 0;
                                }
                            }
                            @media only screen and #{$md} {
                                span.name {
                                    visibility: hidden;
                                    opacity: 0;
                                    display: none;
                                }
                            }
                            span.bdr {
                                position: absolute;
                                left: -30px;
                                display: block;
                                width: 20px;
                                height: 100%;
                                top: 0;
                                bottom: 0;
                                background: $secondary_color;
                                visibility: hidden;
                                @media only screen and #{$md} {
                                    left: -20px;
                                    width: 15px;
                                }
                                @media only screen and #{$xs} {
                                    left: -10px;
                                    width: 10px;
                                }
                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    height: 100%;
                                    width: 17px;
                                    background-image: linear-gradient(450deg, rgba(255, 255, 255, 0.9), #ffffff);
                                    @media only screen and #{$md} {
                                        width: 12px;
                                    }
                                    @media only screen and #{$xs} {
                                        width: 6px;
                                    }
                                }
                            }
                            b {
                                font-size: 11px;
                                line-height: 19px;
                                font-weight: 400;
                                color: #ffffff;
                                background: #b0bec5;
                                width: 25px;
                                height: 18px;
                                border-radius: 10px;
                                text-align: center;
                                right: -60px;
                                position: absolute;
                                top: 20px;
                            }
                            &:hover {
                                color: #384850;
                                opacity: 1;
                                span {
                                    visibility: visible;
                                }
                            }
                        }
                        &.active {
                            a {
                                color: #384850;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            // Sidebar Footer
            footer {
                &.footer_info_wrap {
                    font-family: $font-family;
                    font-weight: 300;
                    position: absolute;
                    bottom: 10px;
                    @media only screen and #{$md} {
                        display: none;
                    }
                    span {
                        &.bdr {
                            width: 30px;
                            height: 1px;
                            background: #d0d9dd;
                            display: inline-block;
                            margin-bottom: 18px;
                        }
                    }
                    h3 {
                        font-size: 16px;
                        line-height: 22px;
                        color: #37474f;
                        margin: 0 0 10px 0;
                    }
                    p {
                        font-size: 14px;
                        line-height: 20px;
                        color: $primary_color;
                    }
                    a {
                        font-size: 14px;
                        line-height: 20px;
                        color: #41a5f7;
                        display: inline-block;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
    // Main Container
    section {
        &.main_container {
            font-family: $font-family;
            padding-left: 220px;
            display: block;
            @media only screen and #{$md} {
                padding-left: 80px;
            }
            @media only screen and #{$ipad} {
                padding-left: 62px;
            }
            @media only screen and #{$xs} {
                padding-left: 47px;
            }
            #search_form_wrapper {
                position: fixed;
                left: 0;
                right: 0;
                margin: 0 auto 0 auto;
                top: 200px;
                z-index: 99;
                width: 50%;
                visibility: hidden;
                opacity: 0;
                -moz-transition: all .25s ease;
                -o-transition: all .25s ease;
                -webkit-transition: all .25s ease;
                transition: all .25s ease;
                @media only screen and #{$md} {
                    width: 80%;
                }
                &.open {
                    opacity: 1;
                    visibility: visible;
                    -moz-transition: all .25s ease;
                    -o-transition: all .25s ease;
                    -webkit-transition: all .25s ease;
                    transition: all .25s ease;
                }
                #search {
                    font-family: $font-family;
                    width: 100%;
                    height: 60px;
                    line-height: 100px;
                    padding: 0 25px;
                    background: #fe763a;
                    border: none;
                    border-radius: 50px;
                    font-size: 24px;
                    line-height: 28px;
                    color: #fff;
                    &::-webkit-input-placeholder {
                        color: #fff;
                    }
                    &::-moz-placeholder {
                        color: #fff;
                    }
                    &:-ms-input-placeholder {
                        color: #fff;
                    }
                    &:-moz-placeholder {
                        color: #fff;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
            #search_overlay {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.9);
                height: 100%;
                z-index: 9;
                visibility: hidden;
                opacity: 0;
                -moz-transition: all .25s ease;
                -o-transition: all .25s ease;
                -webkit-transition: all .25s ease;
                transition: all .25s ease;
                &.open {
                    opacity: 1;
                    visibility: visible;
                    -moz-transition: all .25s ease;
                    -o-transition: all .25s ease;
                    -webkit-transition: all .25s ease;
                    transition: all .25s ease;
                }
                span {
                    &#close_search {
                        color: #fe763a;
                        font-size: 50px;
                        line-height: 50px;
                        position: absolute;
                        right: 100px;
                        top: 20px;
                        font-weight: 300;
                        cursor: pointer;
                        @media only screen and #{$lg} {
                            right: 50px;
                        }
                        @media only screen and #{$md} {
                            right: 30px;
                        }
                    }
                }
            }
            .content_wrap {
                padding: 0 100px;
                @media only screen and #{$lg} {
                    padding: 0 50px;
                }
                @media only screen and #{$md} {
                    padding: 0 30px;
                }
                @media only screen and #{$ipad} {
                    padding: 0 30px;
                }
                @media only screen and #{$xs} {
                    padding: 0 15px;
                }
                nav {
                    &.navigation_header {
                        padding: 30px 0;
                        @media only screen and #{$mid} {
                            padding: 10px 0;
                        }
                        .navbar-header {
                            float: left;
                            @media only screen and #{$mid} {
                                float: none;
                            }
                            a {
                                &.brand {
                                    font-family: $font-family;
                                    color: #384850;
                                    font-size: 30px;
                                    line-height: 35px;
                                    font-weight: 300;
                                    @media only screen and #{$sm} {
                                        font-size: 24px;
                                        line-height: 33px;
                                    }
                                    span {
                                        color: $primary_color;
                                        margin-left: 30px;
                                        @media only screen and #{$sm} {
                                            margin-left: 10px;
                                        }
                                    }
                                }
                            }
                        }
                        ul {
                            &.navbar-right {
                                float: right;
                                position: relative;
                                top: 10px;
                                @media only screen and #{$mid} {
                                    float: none;
                                    top: 0;
                                    margin-top: 15px;
                                }
                                li {
                                    display: inline-block;
                                    float: left;
                                    margin-right: 40px;
                                    position: relative;
                                    @media only screen and #{$sm} {
                                        margin-right: 25px;
                                    }
                                    &:last-child {
                                        margin-right: 0;
                                    }
                                    @media only screen and #{$mid} {
                                        .sprite.search {
                                            display: none;
                                        }
                                        &.property {
                                            float: right;
                                        }
                                        float: none;
                                        &#search_icon {
                                            display: none;
                                        }
                                    }
                                    a {
                                        font-family: $font-family;
                                        font-size: 14px;
                                        line-height: 18px;
                                        font-weight: 400;
                                        color: #90a4ae;
                                        vertical-align: top;
                                        display: inline-block;
                                        &:hover {
                                            color: #738c98;
                                        }
                                        .sprite.color-down-arrow {
                                            margin-left: 10px;
                                            @media only screen and #{$sm} {
                                                margin-left: 5px;
                                            }
                                        }
                                        &.btn {
                                            background: $secondary_color;
                                            color: #ffffff;
                                            text-transform: uppercase;
                                            padding: 12px 20px;
                                            border-radius: 20px;
                                            margin-top: -12px;
                                            @media only screen and #{$sm} {
                                                padding: 10px 14px;
                                            }
                                            &:hover {
                                                background: $btn_hover;
                                                box-shadow: 0 5px 40px rgba(0, 0, 0, .15);
                                            }
                                        }
                                    }
                                    &.dropdown {
                                        i {
                                            vertical-align: middle;
                                        }
                                        .dropdown-menu {
                                            position: absolute;
                                            top: 100%;
                                            left: 0;
                                            z-index: 1;
                                            display: block;
                                            min-width: 120px;
                                            padding: 0 15px;
                                            margin-top: 5px;
                                            background-color: #fff;
                                            border-radius: 4px;
                                            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
                                            box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
                                            display: none;
                                            &.open {
                                                display: block;
                                            }
                                            li {
                                                display: block;
                                                float: none;
                                                margin-right: 0;
                                                border-bottom: 1px solid #e7e7e7;
                                                padding: 10px 0;
                                                &:last-child {
                                                    border-bottom: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // Articles section
                .article_section_wrapper {
                    font-family: $font-family;
                    margin: 50px 0;
                    position: relative;
                    @media only screen and #{$mid} {
                        margin: 30px 0;
                    }
                    header {
                        &.info_wrapper {
                            padding: 0 0 15px 0;
                            border-bottom: 1px solid #e7e7e7;
                            margin-bottom: 15px;
                            .info {
                                display: inline-block;
                                padding-right: 40px;
                                h4 {
                                    font-size: 18px;
                                    line-height: 22px;
                                    font-weight: 400;
                                    color: #37474f;
                                    margin: 8px 0;
                                }
                                p {
                                    font-size: 14px;
                                    line-height: 22px;
                                    font-weight: 400;
                                    color: $primary_color;
                                    text-transform: uppercase;
                                }
                            }
                            .add_more {
                                margin-top: 20px;
                                position: absolute;
                                right: 0;
                                top: 0;
                                a {
                                    width: 35px;
                                    height: 35px;
                                    background: $secondary_color;
                                    border-radius: 50%;
                                    text-align: center;
                                    display: inline-block;
                                    -webkit-transform: scale(1);
                                    -moz-transform: scale(1);
                                    -ms-transform: scale(1);
                                    -o-transform: scale(1);
                                    transform: scale(1);
                                    -webkit-transition: -webkit-transform .3s;
                                    -moz-transition: -moz-transform .3s;
                                    transition: transform .3s;
                                    &:hover {
                                        background: $btn_hover;
                                        box-shadow: 0 5px 40px rgba(0, 0, 0, .15);
                                        -webkit-transform: scale(1.2);
                                        -moz-transform: scale(1.2);
                                        -ms-transform: scale(1.2);
                                        -o-transform: scale(1.2);
                                        transform: scale(1.2);
                                        -webkit-transition: -webkit-transform .3s;
                                        -moz-transition: -moz-transform .3s;
                                        transition: transform .3s;
                                    }
                                    i {
                                        vertical-align: middle;
                                        position: relative;
                                        top: 8px;
                                    }
                                }
                            }
                        }
                    }
                    // Article Lists 
                    .article_lists_wrap {
                        margin: 0 -15px;
                        article {
                            &.article_list {
                                width: 33.333%;
                                float: left;
                                @media only screen and #{$sm} {
                                    width: 100%;
                                    float: none;
                                }
                                .article_container {
                                    margin: 15px;
                                    background: #fff;
                                    position: relative;
                                    border-radius: 4px;
                                    -webkit-box-shadow: 1px 10px 0px 0px rgba(0, 0, 0, 0.14);
                                    -moz-box-shadow: 1px 10px 0px 0px rgba(0, 0, 0, 0.14);
                                    box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.14);
                                    &:hover {
                                        box-shadow: 0 5px 50px rgba(0, 0, 0, .1);
                                        .article_image {
                                            border-top-left-radius: 4px;
                                            border-top-right-radius: 4px;
                                            opacity: .95;
                                            .bg {
                                                -webkit-transform: scale(1.4);
                                                -moz-transform: scale(1.4);
                                                -ms-transform: scale(1.4);
                                                -o-transform: scale(1.4);
                                                transform: scale(1.4);
                                                -webkit-transition: -webkit-transform 8.6s;
                                                -moz-transition: -moz-transform 8.6s;
                                                transition: transform 8.6s;
                                                border-top-left-radius: 4px;
                                                border-top-right-radius: 4px;
                                            }
                                        }
                                    }
                                    .article_image {
                                        height: 180px;
                                        overflow: hidden;
                                        border-top-left-radius: 4px;
                                        border-top-right-radius: 4px;
                                        @media only screen and #{$lg} {
                                            height: 170px;
                                        }
                                        @media only screen and #{$md} {
                                            height: 140px;
                                        }
                                        @media only screen and #{$minmd2} {
                                            height: 180px;
                                        }
                                        @media only screen and #{$minmd1} {
                                            height: 220px;
                                        }
                                        @media only screen and #{$minlg} {
                                            height: 280px;
                                        }
                                        @media only screen and #{$minxlg} {
                                            height: 320px;
                                        }
                                        @media only screen and #{$ipad} {
                                            height: 200px;
                                        }
                                        @media only screen and (max-width:790px) and (min-width:768px) {
                                            height: 150px;
                                        }
                                        @media only screen and #{$xs} {
                                            height: 150px;
                                        }
                                        .bg {
                                            background-size: cover!important;
                                            background-repeat: no-repeat!important;
                                            background-position: center!important;
                                            border-top-left-radius: 4px;
                                            border-top-right-radius: 4px;
                                            height: 100%;
                                        }
                                        .article1 {
                                            background: url('../../images/articles/article1.jpeg') no-repeat;
                                        }
                                        .article2 {
                                            background: url('../../images/articles/article2.jpeg') no-repeat;
                                        }
                                        .article3 {
                                            background: url('../../images/articles/article3.png') no-repeat;
                                        }
                                        .article4 {
                                            background: url('../../images/articles/article4.jpg') no-repeat;
                                        }
                                        .article5 {
                                            background: url('../../images/articles/article5.jpg') no-repeat;
                                        }
                                        .article6 {
                                            background: url('../../images/articles/article6.jpg') no-repeat;
                                        }
                                    }
                                    .article_header_wrapper {
                                        padding: 20px;
                                        @media only screen and #{$ipad} {
                                            padding: 15px;
                                        }
                                        header {
                                            &.entry-header {
                                                .tag_wrapper {
                                                    position: absolute;
                                                    top: 20px;
                                                    left: -10px;
                                                    span {
                                                        display: inline-block;
                                                        padding: 8px 14px;
                                                        background: #b0bec5;
                                                        color: #fff;
                                                        border-radius: 20px;
                                                        text-transform: uppercase;
                                                        font-size: 14px;
                                                        line-height: 14px;
                                                        font-weight: 400;
                                                        &.listed {
                                                            background: #68bc69;
                                                        }
                                                        &.draft {
                                                            background: #b0bec5;
                                                        }
                                                        &.rented {
                                                            background: #b0bec5;
                                                        }
                                                        i {
                                                            position: relative;
                                                            top: 2px;
                                                            left: -3px;
                                                        }
                                                    }
                                                }
                                                h2 {
                                                    a {
                                                        font-size: 16px;
                                                        line-height: 26px;
                                                        color: #37474f;
                                                        font-weight: 500;
                                                        span {
                                                            display: block;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
